<h1>What kind of triangle do I have?</h1>
<h3>Input the length of each side of your triangle:<h3>

<form action="/output">
  <div class="form-group">
    <label for="side1">First side of your triangle</label>
    <input id="s1" name="side1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side2">Second side of your triangle</label>
    <input id="s2" name="side2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side3">Third side of your triangle</label>
    <input id="s3" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
